.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.login-header {
  font-weight: 800;
  margin-top: 2%;
}
.login-form {
  width: 40%;
  margin: 1% auto;
  background: #2670c5;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.login-label {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 5%;
}
.login-cred {
  width: 80%;
  margin: 5% auto;
}
.submit-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.signup-prompt-con {
  font-size: 1rem;
  align-self: center;
  color: black;
  margin-bottom: 1%;
}
.signup-prompt {
  cursor: pointer;
  font-size: 1rem;
}
.signup-prompt:hover {
  color: #e31d4c;
}
.error-message {
  color: #e31d4c;
  font-size: 1.25rem;
  font-weight: 400;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.punchline-btn {
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: flex-end;
  background: none;
  outline: none;
  color: #ebc700;
}

.punchline-btn:focus {
  outline: 0;
}

.home-page-nav {
  padding: 0 5%;
  font-size: 20px;
}

.home-page-nav-link {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.vote-buttons {
  display: flex;
  padding-left: 5%;
}

.acc-page-nav-link {
  color: #380a15;
  font-weight: bold;
}

.add-joke-header {
  width: 100%;
  margin: 10% 0 0 60%;
}

.add-form {
  padding: 0 10% 30% 10%;
}

.add-joke-input {
  padding: 3% 0%;
}

.add-joke-btn {
  display: flex;
  margin-left: 80%;
}

.showModalBtn {
  margin-left: 58%;
  margin-top: 5%;
  ;
}
