.container .card {
    background-position-x: 20%;
    background-size: cover;
}

.container .card .card-header {
    font-size: 3.5rem;
}

.container .card .nav-link {
    font-size: 2rem;
}

.container .joke-header {
    font-size: 3rem;
    margin-bottom: 5%;
}

@media only screen and (max-width: 1024px) {

    .container .card .card-header {
        font-size:  4.5rem;
        margin-bottom: 4%;
        margin-top: 5%;
    }

    .container .card .nav-link {
        font-size: 2.5rem;
    }

}

@media only screen and (max-width: 600px) {

    .container .card {
        background-position-x: 45%;
    }

    .container .card .card-header {
        font-size: 2.9rem;
    }

    .container .card .nav-link {
        font-size: 1.5rem;
    }

    .container .joke-header {
        font-size: 2rem;
    }
}