.JokeCardList-container .card {
    margin: 5% 0;
}

.JokeCardList-container .card .card-text {
    padding: 8%;
    font-size: 1.5rem;
}

.JokeCardList-container .card .author-text {
    padding: 1%;
}

.JokeCardList-container .card .collapse .card-text p {
    margin: -10%;
    font-style: unset;
    color: darkorange;
}

/* Tablet Layout */
@media only screen and (max-width: 1024px) {

    .JokeCardList-container .card .author-text {
        padding: 1%;
    }

    .JokeCardList-container .card .vote-buttons button svg {
        width: 3rem;
        height: 3rem;    
    }
}

@media only screen and (max-width: 600px) {
    .JokeCardList-container .card {
        margin: auto auto 10%;
    }

    .JokeCardList-container .card .card-text {
        font-size: 1rem;
        padding: 15%;
        margin-bottom: -5%;
    }

    .JokeCardList-container .card .author-text {
        padding: 3%;
        font-size: 1rem;
    }

    .JokeCardList-container .card .collapse .card-text p {
        font-size: 1rem;
        margin-top: -15%;   
    }

}